<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ksh.mapper.engine.SigPSRuleMapper">
	<resultMap type="com.ksh.vo.engine.SigPSRuleVO" id="sigpsrule">
		<result property="id" column="id" />
		<result property="type" column="type"/>
		<result property="risk" column="risk"/>
		<result property="method" column="method"/>
		<result property="signature" column="signature"/>
		<result property="res_code" column="res_code"/>
		<result property="res_header" column="res_header"/>
		<result property="res_body" column="res_body"/>
	</resultMap>

	<select id="getSigPSRuleList" resultMap="sigpsrule">
		SELECT id, type, risk, method, signature, res_code, res_header, res_body
		FROM sig_psrule
	</select>
	<select id="getSigPSRule" resultMap="sigpsrule" parameterType="long">
		SELECT id, type, risk, method, signature, res_code, res_header, res_body
		FROM sig_psrule
		WHERE id=#{id}
	</select>
</mapper>